<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Document</title>
</head>
<body>
  



<h2>Select a table</h2>
<form id="table-form">
    <label for="table">Select a table:</label>
    <select id="table" name="table">
      <option value="students">students</option>
      <option value="courses">courses</option>
      <option value="departments">departments</option>
      <option value="enrollments">enrollments</option>
      <option value="grades">grades</option>
      <option value="instructors">instructors</option>
    </select>
    <button type="button" id="table_submit">Get Data</button>
</form>

<div id="table-data"></div>

<h2>Get Student Data</h2>
<form id="student-form">
    <label for="student_id">Student ID:</label>
    <input type="text" id="student_id" name="student_id">
    <button type="button" id="student_submit">Get Student Data</button>
</form>

<div id="student-data"></div>




<h2>Select a course to see how many students are enrolled to it</h2>
<form id="course-form">
    <label for="course">Select a course:</label>
    <select id="course" name="course">
      <option value="1">Introduction to Computer Science</option>
      <option value="2">Calculus I</option>
      <option value="3">Introduction to Biology</option>
      <option value="4">Introduction to Chemistry</option>
      <option value="5">English Composition</option>
      <option value="6">World History</option>
      <option value="7">Physics I</option>
      <option value="8">Introduction to Psychology</option>
      <option value="9">Political Science</option>
      <option value="10">Art Appreciation</option>
      <option value="11">Introduction to Economics</option>
      <option value="12">Sociology</option>
      <option value="13">Music Theory</option>
      <option value="14">Environmental Science</option>
      <option value="15">Anthropology</option>
      <option value="16">Introduction to Engineering</option>
      <option value="17">Statistics</option>
      <option value="18">Chemical Engineering</option>
      <option value="19">Literature</option>
      <option value="20">Introduction to Philosophy</option>
    </select>
    <button type="button" id="course_submit">Get Data</button>
</form>

<div id="enrollments-data"></div>



<h2>Select a course to see the highest grade</h2>
<form id="highest-grade-form">
    <label for="highest_grade">Select a course:</label>
    <select id="highest_grade" name="highest_grade">
      <option value="1">Introduction to Computer Science</option>
      <option value="2">Calculus I</option>
      <option value="3">Introduction to Biology</option>
      <option value="4">Introduction to Chemistry</option>
      <option value="5">English Composition</option>
      <option value="6">World History</option>
      <option value="7">Physics I</option>
      <option value="8">Introduction to Psychology</option>
      <option value="9">Political Science</option>
      <option value="10">Art Appreciation</option>
      <option value="11">Introduction to Economics</option>
      <option value="12">Sociology</option>
      <option value="13">Music Theory</option>
      <option value="14">Environmental Science</option>
      <option value="15">Anthropology</option>
      <option value="16">Introduction to Engineering</option>
      <option value="17">Statistics</option>
      <option value="18">Chemical Engineering</option>
      <option value="19">Literature</option>
      <option value="20">Introduction to Philosophy</option>
    </select>
    <button type="button" id="highest_grade_submit">Get Data</button>
</form>

<div id="highest-grade-data"></div>


<h2>Select a course to see the average grade</h2>
<form id="average-grade-form">
    <label for="average_grade">Select a course:</label>
    <select id="average_grade" name="average_grade">
      <option value="1">Introduction to Computer Science</option>
      <option value="2">Calculus I</option>
      <option value="3">Introduction to Biology</option>
      <option value="4">Introduction to Chemistry</option>
      <option value="5">English Composition</option>
      <option value="6">World History</option>
      <option value="7">Physics I</option>
      <option value="8">Introduction to Psychology</option>
      <option value="9">Political Science</option>
      <option value="10">Art Appreciation</option>
      <option value="11">Introduction to Economics</option>
      <option value="12">Sociology</option>
      <option value="13">Music Theory</option>
      <option value="14">Environmental Science</option>
      <option value="15">Anthropology</option>
      <option value="16">Introduction to Engineering</option>
      <option value="17">Statistics</option>
      <option value="18">Chemical Engineering</option>
      <option value="19">Literature</option>
      <option value="20">Introduction to Philosophy</option>
    </select>
    <button type="button" id="average_grade_submit">Get Data</button>
</form>

<div id="average-grade-data"></div>

<h2>Select a department to see how many instructors work there</h2>
<form id="instructors-in-department-form">
    <label for="instructors_in_department">Select a department:</label>
    <select id="instructors_in_department" name="table">
      <option value="1">Computer Science</option>
      <option value="2">Mathematics</option>
      <option value="3">Biology</option>
      <option value="4">Chemistry</option>
      <option value="5">English</option>
      <option value="6">History</option>
      <option value="7">Physics</option>
      <option value="8">Psychology</option>
      <option value="9">Engineering</option>
      <option value="10">Art</option>
    </select>
    <button type="button" id="instructors_in_department_submit">Get Data</button>
</form>

<div id="instructors-in-department-data"></div>

<script>
  // number of instructors in department
  $(document).ready(function(){
    $("#instructors_in_department_submit").click(function(){
        var selectedDepartment = $("#instructors_in_department").val();
        $.get("number_of_instructors/", {number_of_instructors: selectedDepartment}, function(response){
            if(response.department_name && response.num_instructors){
                var instructorsNumHtml = "<table><thead><tr><th>Department Name</th><th>Number of Instructors</th></tr></thead><tbody>";
                instructorsNumHtml += "<tr><td>" + response.department_name + "</td><td>" + response.num_instructors + "</td></tr>";
                instructorsNumHtml += "</tbody></table>";
                $("#instructors-in-department-data").html(instructorsNumHtml);
            } else if(response.error){
                $("#instructors-in-department-data").html("<p>" + response.error + "</p>");
            }
        });
    });
});


  // highest grade
  $(document).ready(function(){
    $("#highest_grade_submit").click(function(){
        var selectedCourse = $("#highest_grade").val();
        $.get("highest_grade/", {course_grade: selectedCourse}, function(response){
            if(response.student_id && response.student_name && response.student_surname && response.course_name && response.highest_grade){
                var highestGradeHtml = "<table><thead><tr><th>Student ID</th><th>Student Name</th><th>Student Surname</th><th>Course Name</th><th>Highest Grade</th></tr></thead><tbody>";
                highestGradeHtml += "<tr><td>" + response.student_id + "</td><td>" + response.student_name + "</td><td>" + response.student_surname + "</td><td>" + response.course_name + "</td><td>" + response.highest_grade + "</td></tr>";
                highestGradeHtml += "</tbody></table>";
                $("#highest-grade-data").html(highestGradeHtml);
            } else if(response.error){
                $("#highest-grade-data").html("<p>" + response.error + "</p>");
            }
        });
    });
});


// average grade
$(document).ready(function(){
  $("#average_grade_submit").click(function(){
      var selectedCourse = $("#average_grade").val();
      $.get("average_grade/", {average_grade: selectedCourse}, function(response){
          if(response.course_name && response.average_grade){
              var averageGradeHtml = "<table><thead><tr><th>Course Name</th><th>Average Grade</th></tr></thead><tbody>";
              averageGradeHtml += "<tr><td>" + response.course_name + "</td><td>" + response.average_grade + "</td></tr>";
              averageGradeHtml += "</tbody></table>";
              $("#average-grade-data").html(averageGradeHtml);
          } else if(response.error){
              $("#average-grade-data").html("<p>" + response.error + "</p>");
          }
      });
  });
});



  // enrollments
    $(document).ready(function(){
      $("#course_submit").click(function(){
        var selectedCourse = $("#course").val();
        $.get("count_enrollments/", {course: selectedCourse}, function(response){
            if(response.course_id && response.course_name && response.enrolled_students){
                var courseDataHtml = "<table><thead><tr><th>Course ID</th><th>Course Name</th><th>Enrolled Students</th></tr></thead><tbody>";
                courseDataHtml += "<tr><td>" + response.course_id + "</td><td>" + response.course_name + "</td><td>" + response.enrolled_students + "</td></tr>";
                courseDataHtml += "</tbody></table>";
                $("#enrollments-data").html(courseDataHtml);
            } else if(response.error){
                $("#enrollments-data").html("<p>" + response.error + "</p>");
            }
        });
    });

    
    // Handle table form submission
    $("#table_submit").click(function(){
        var selectedTable = $("#table").val();
        $.get("get_data_from_database/", {table: selectedTable}, function(response){
            if(response.data){
                var tableHtml = "<table><thead><tr>";
                for(var field in response.data[0]){
                    tableHtml += "<th>" + field + "</th>";
                }
                tableHtml += "</tr></thead><tbody>";
                for(var row of response.data){
                    tableHtml += "<tr>";
                    for(var value of Object.values(row)){
                        tableHtml += "<td>" + value + "</td>";
                    }
                    tableHtml += "</tr>";
                }
                tableHtml += "</tbody></table>";
                $("#table-data").html(tableHtml);
            } else if(response.error){
                $("#table-data").html("<p>" + response.error + "</p>");
            }
        });
    });

    // Handle student form submission
    $("#student_submit").click(function(){
        var studentId = $("#student_id").val();
        $.get("get_student_data/", {student_id: studentId}, function(response){
            if(response.student_id && response.enrollment_status && response.student_name && response.student_surname){
                var studentDataHtml = "<p>Student ID: " + response.student_id + "</p>";
                studentDataHtml += "<p>Student name: " + response.student_name + "</p>";
                studentDataHtml += "<p>Student surname: " + response.student_surname + "</p>";
                studentDataHtml += "<p>Enrollment Status: " + response.enrollment_status + "</p>";
                $("#student-data").html(studentDataHtml);
            } else if(response.error){
                $("#student-data").html("<p>" + response.error + "</p>");
            }
        });
    });
});
</script>

</body>
</html>